parameters:
	ignoreErrors:
		-
			message: "#^Parameter \\#1 \\$data of static method BombenProdukt\\\\Yr\\\\Location\\\\Data\\\\Response\\:\\:fromResponse\\(\\) expects array, mixed given\\.$#"
			count: 1
			path: src/Location/Client.php

		-
			message: "#^Parameter \\$location of class BombenProdukt\\\\Yr\\\\Location\\\\Data\\\\Links constructor expects Illuminate\\\\Support\\\\Collection\\<int, BombenProdukt\\\\Yr\\\\Location\\\\Data\\\\Link\\>, Illuminate\\\\Support\\\\Collection\\<string, BombenProdukt\\\\Yr\\\\Location\\\\Data\\\\Link\\> given\\.$#"
			count: 1
			path: src/Location/Data/Links.php

		-
			message: "#^Unable to resolve the template type TKey in call to function collect$#"
			count: 1
			path: src/Location/Data/Links.php

		-
			message: "#^Unable to resolve the template type TValue in call to function collect$#"
			count: 1
			path: src/Location/Data/Links.php

		-
			message: "#^Parameter \\$links of class BombenProdukt\\\\Yr\\\\Location\\\\Data\\\\Location constructor expects Illuminate\\\\Support\\\\Collection\\<int, BombenProdukt\\\\Yr\\\\Location\\\\Data\\\\Link\\>, Illuminate\\\\Support\\\\Collection\\<string, BombenProdukt\\\\Yr\\\\Location\\\\Data\\\\Link\\|Illuminate\\\\Support\\\\Collection\\<string, BombenProdukt\\\\Yr\\\\Location\\\\Data\\\\Link\\>\\> given\\.$#"
			count: 1
			path: src/Location/Data/Location.php

		-
			message: "#^Unable to resolve the template type TKey in call to function collect$#"
			count: 1
			path: src/Location/Data/Location.php

		-
			message: "#^Unable to resolve the template type TValue in call to function collect$#"
			count: 1
			path: src/Location/Data/Location.php

		-
			message: "#^Unable to resolve the template type TKey in call to function collect$#"
			count: 1
			path: src/Location/Data/Response.php

		-
			message: "#^Unable to resolve the template type TValue in call to function collect$#"
			count: 1
			path: src/Location/Data/Response.php

		-
			message: "#^Parameter \\#1 \\$data of static method BombenProdukt\\\\Yr\\\\Weather\\\\Data\\\\Response\\:\\:fromResponse\\(\\) expects array, mixed given\\.$#"
			count: 1
			path: src/Weather/Client.php

		-
			message: "#^Unable to resolve the template type TKey in call to function collect$#"
			count: 1
			path: src/Weather/Data/Meta.php

		-
			message: "#^Unable to resolve the template type TValue in call to function collect$#"
			count: 1
			path: src/Weather/Data/Meta.php

		-
			message: "#^Unable to resolve the template type TKey in call to function collect$#"
			count: 1
			path: src/Weather/Data/TimeSeriesItem.php

		-
			message: "#^Unable to resolve the template type TValue in call to function collect$#"
			count: 1
			path: src/Weather/Data/TimeSeriesItem.php
