parameters:
	ignoreErrors:
		-
			message: "#^Cannot call method in\\(\\) on iterable\\<SplFileInfo\\>\\.$#"
			count: 1
			path: .php-cs-fixer.php

		-
			message: "#^Method BaseCodeOy\\\\Yr\\\\Location\\\\Client\\:\\:request\\(\\) has parameter \\$query with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Location/Client.php

		-
			message: "#^Method BaseCodeOy\\\\Yr\\\\Location\\\\Client\\:\\:request\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Location/Client.php

		-
			message: "#^Method BaseCodeOy\\\\Yr\\\\Location\\\\Client\\:\\:request\\(\\) should return array but returns mixed\\.$#"
			count: 1
			path: src/Location/Client.php

		-
			message: "#^Method BaseCodeOy\\\\Yr\\\\Location\\\\Data\\\\Category\\:\\:fromResponse\\(\\) has parameter \\$data with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Location/Data/Category.php

		-
			message: "#^Method BaseCodeOy\\\\Yr\\\\Location\\\\Data\\\\CelestialEvents\\\\Event\\:\\:fromResponse\\(\\) has parameter \\$data with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Location/Data/CelestialEvents/Event.php

		-
			message: "#^Method BaseCodeOy\\\\Yr\\\\Location\\\\Data\\\\CelestialEvents\\\\InitialState\\:\\:fromResponse\\(\\) has parameter \\$data with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Location/Data/CelestialEvents/InitialState.php

		-
			message: "#^Method BaseCodeOy\\\\Yr\\\\Location\\\\Data\\\\CelestialEvents\\\\Response\\:\\:fromResponse\\(\\) has parameter \\$data with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Location/Data/CelestialEvents/Response.php

		-
			message: "#^Unable to resolve the template type TKey in call to function collect$#"
			count: 2
			path: src/Location/Data/CelestialEvents/Response.php

		-
			message: "#^Unable to resolve the template type TValue in call to function collect$#"
			count: 2
			path: src/Location/Data/CelestialEvents/Response.php

		-
			message: "#^Method BaseCodeOy\\\\Yr\\\\Location\\\\Data\\\\Country\\:\\:fromResponse\\(\\) has parameter \\$data with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Location/Data/Country.php

		-
			message: "#^Method BaseCodeOy\\\\Yr\\\\Location\\\\Data\\\\CurrentHour\\\\Response\\:\\:fromResponse\\(\\) has parameter \\$data with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Location/Data/CurrentHour/Response.php

		-
			message: "#^Unable to resolve the template type TKey in call to function collect$#"
			count: 1
			path: src/Location/Data/CurrentHour/Response.php

		-
			message: "#^Unable to resolve the template type TValue in call to function collect$#"
			count: 1
			path: src/Location/Data/CurrentHour/Response.php

		-
			message: "#^Method BaseCodeOy\\\\Yr\\\\Location\\\\Data\\\\CurrentHour\\\\SymbolCode\\:\\:fromResponse\\(\\) has parameter \\$data with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Location/Data/CurrentHour/SymbolCode.php

		-
			message: "#^Method BaseCodeOy\\\\Yr\\\\Location\\\\Data\\\\CurrentHour\\\\Temperature\\:\\:fromResponse\\(\\) has parameter \\$data with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Location/Data/CurrentHour/Temperature.php

		-
			message: "#^Method BaseCodeOy\\\\Yr\\\\Location\\\\Data\\\\CurrentHour\\\\Wind\\:\\:fromResponse\\(\\) has parameter \\$data with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Location/Data/CurrentHour/Wind.php

		-
			message: "#^Method BaseCodeOy\\\\Yr\\\\Location\\\\Data\\\\Forecast\\\\CloudCover\\:\\:fromResponse\\(\\) has parameter \\$data with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Location/Data/Forecast/CloudCover.php

		-
			message: "#^Method BaseCodeOy\\\\Yr\\\\Location\\\\Data\\\\Forecast\\\\DayInterval\\:\\:__construct\\(\\) has parameter \\$sixHourSymbols with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Location/Data/Forecast/DayInterval.php

		-
			message: "#^Method BaseCodeOy\\\\Yr\\\\Location\\\\Data\\\\Forecast\\\\DayInterval\\:\\:fromResponse\\(\\) has parameter \\$data with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Location/Data/Forecast/DayInterval.php

		-
			message: "#^Method BaseCodeOy\\\\Yr\\\\Location\\\\Data\\\\Forecast\\\\LongInterval\\:\\:fromResponse\\(\\) has parameter \\$data with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Location/Data/Forecast/LongInterval.php

		-
			message: "#^Unable to resolve the template type TKey in call to function collect$#"
			count: 1
			path: src/Location/Data/Forecast/LongInterval.php

		-
			message: "#^Unable to resolve the template type TValue in call to function collect$#"
			count: 1
			path: src/Location/Data/Forecast/LongInterval.php

		-
			message: "#^Method BaseCodeOy\\\\Yr\\\\Location\\\\Data\\\\Forecast\\\\Precipitation\\:\\:fromResponse\\(\\) has parameter \\$data with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Location/Data/Forecast/Precipitation.php

		-
			message: "#^Method BaseCodeOy\\\\Yr\\\\Location\\\\Data\\\\Forecast\\\\Response\\:\\:fromResponse\\(\\) has parameter \\$data with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Location/Data/Forecast/Response.php

		-
			message: "#^Unable to resolve the template type TKey in call to function collect$#"
			count: 3
			path: src/Location/Data/Forecast/Response.php

		-
			message: "#^Unable to resolve the template type TValue in call to function collect$#"
			count: 3
			path: src/Location/Data/Forecast/Response.php

		-
			message: "#^Method BaseCodeOy\\\\Yr\\\\Location\\\\Data\\\\Forecast\\\\ShortInterval\\:\\:fromResponse\\(\\) has parameter \\$data with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Location/Data/Forecast/ShortInterval.php

		-
			message: "#^Unable to resolve the template type TKey in call to function collect$#"
			count: 1
			path: src/Location/Data/Forecast/ShortInterval.php

		-
			message: "#^Unable to resolve the template type TValue in call to function collect$#"
			count: 1
			path: src/Location/Data/Forecast/ShortInterval.php

		-
			message: "#^Method BaseCodeOy\\\\Yr\\\\Location\\\\Data\\\\Forecast\\\\Symbol\\:\\:fromResponse\\(\\) has parameter \\$data with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Location/Data/Forecast/Symbol.php

		-
			message: "#^Method BaseCodeOy\\\\Yr\\\\Location\\\\Data\\\\Forecast\\\\Temperature\\:\\:fromResponse\\(\\) has parameter \\$data with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Location/Data/Forecast/Temperature.php

		-
			message: "#^Method BaseCodeOy\\\\Yr\\\\Location\\\\Data\\\\Forecast\\\\UV\\:\\:fromResponse\\(\\) has parameter \\$data with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Location/Data/Forecast/UV.php

		-
			message: "#^Method BaseCodeOy\\\\Yr\\\\Location\\\\Data\\\\Forecast\\\\UVDuration\\:\\:fromResponse\\(\\) has parameter \\$data with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Location/Data/Forecast/UVDuration.php

		-
			message: "#^Method BaseCodeOy\\\\Yr\\\\Location\\\\Data\\\\Forecast\\\\Wind\\:\\:fromResponse\\(\\) has parameter \\$data with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Location/Data/Forecast/Wind.php

		-
			message: "#^Method BaseCodeOy\\\\Yr\\\\Location\\\\Data\\\\Link\\:\\:fromResponse\\(\\) has parameter \\$data with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Location/Data/Link.php

		-
			message: "#^Method BaseCodeOy\\\\Yr\\\\Location\\\\Data\\\\Links\\:\\:fromResponse\\(\\) has parameter \\$data with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Location/Data/Links.php

		-
			message: "#^Parameter \\$location of class BaseCodeOy\\\\Yr\\\\Location\\\\Data\\\\Links constructor expects Illuminate\\\\Support\\\\Collection\\<int, BaseCodeOy\\\\Yr\\\\Location\\\\Data\\\\Link\\>\\|null, Illuminate\\\\Support\\\\Collection\\<string, BaseCodeOy\\\\Yr\\\\Location\\\\Data\\\\Link\\>\\|null given\\.$#"
			count: 1
			path: src/Location/Data/Links.php

		-
			message: "#^Unable to resolve the template type TKey in call to function collect$#"
			count: 1
			path: src/Location/Data/Links.php

		-
			message: "#^Unable to resolve the template type TValue in call to function collect$#"
			count: 1
			path: src/Location/Data/Links.php

		-
			message: "#^Method BaseCodeOy\\\\Yr\\\\Location\\\\Data\\\\Location\\:\\:fromResponse\\(\\) has parameter \\$data with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Location/Data/Location.php

		-
			message: "#^Parameter \\$links of class BaseCodeOy\\\\Yr\\\\Location\\\\Data\\\\Location constructor expects Illuminate\\\\Support\\\\Collection\\<int, BaseCodeOy\\\\Yr\\\\Location\\\\Data\\\\Link\\>, Illuminate\\\\Support\\\\Collection\\<string, BaseCodeOy\\\\Yr\\\\Location\\\\Data\\\\Link\\|Illuminate\\\\Support\\\\Collection\\<string, BaseCodeOy\\\\Yr\\\\Location\\\\Data\\\\Link\\>\\> given\\.$#"
			count: 1
			path: src/Location/Data/Location.php

		-
			message: "#^Unable to resolve the template type TKey in call to function collect$#"
			count: 1
			path: src/Location/Data/Location.php

		-
			message: "#^Unable to resolve the template type TValue in call to function collect$#"
			count: 1
			path: src/Location/Data/Location.php

		-
			message: "#^Method BaseCodeOy\\\\Yr\\\\Location\\\\Data\\\\Location\\\\Response\\:\\:fromResponse\\(\\) has parameter \\$data with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Location/Data/Location/Response.php

		-
			message: "#^Method BaseCodeOy\\\\Yr\\\\Location\\\\Data\\\\Position\\:\\:fromResponse\\(\\) has parameter \\$data with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Location/Data/Position.php

		-
			message: "#^Method BaseCodeOy\\\\Yr\\\\Location\\\\Data\\\\Region\\:\\:fromResponse\\(\\) has parameter \\$data with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Location/Data/Region.php

		-
			message: "#^Method BaseCodeOy\\\\Yr\\\\Location\\\\Data\\\\Subregion\\:\\:fromResponse\\(\\) has parameter \\$data with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Location/Data/Subregion.php

		-
			message: "#^Method BaseCodeOy\\\\Yr\\\\Location\\\\Data\\\\Suggest\\\\Response\\:\\:fromResponse\\(\\) has parameter \\$data with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Location/Data/Suggest/Response.php

		-
			message: "#^Unable to resolve the template type TKey in call to function collect$#"
			count: 1
			path: src/Location/Data/Suggest/Response.php

		-
			message: "#^Unable to resolve the template type TValue in call to function collect$#"
			count: 1
			path: src/Location/Data/Suggest/Response.php

		-
			message: "#^Parameter \\#1 \\$data of static method BaseCodeOy\\\\Yr\\\\Weather\\\\Data\\\\Response\\:\\:fromResponse\\(\\) expects array, mixed given\\.$#"
			count: 1
			path: src/Weather/Client.php

		-
			message: "#^Method BaseCodeOy\\\\Yr\\\\Weather\\\\Data\\\\Geometry\\:\\:fromResponse\\(\\) has parameter \\$data with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Weather/Data/Geometry.php

		-
			message: "#^Method BaseCodeOy\\\\Yr\\\\Weather\\\\Data\\\\Meta\\:\\:fromResponse\\(\\) has parameter \\$data with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Weather/Data/Meta.php

		-
			message: "#^Unable to resolve the template type TKey in call to function collect$#"
			count: 1
			path: src/Weather/Data/Meta.php

		-
			message: "#^Unable to resolve the template type TValue in call to function collect$#"
			count: 1
			path: src/Weather/Data/Meta.php

		-
			message: "#^Method BaseCodeOy\\\\Yr\\\\Weather\\\\Data\\\\MetaUnit\\:\\:fromResponse\\(\\) has parameter \\$data with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Weather/Data/MetaUnit.php

		-
			message: "#^Method BaseCodeOy\\\\Yr\\\\Weather\\\\Data\\\\Properties\\:\\:fromResponse\\(\\) has parameter \\$data with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Weather/Data/Properties.php

		-
			message: "#^Method BaseCodeOy\\\\Yr\\\\Weather\\\\Data\\\\Response\\:\\:fromResponse\\(\\) has parameter \\$data with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Weather/Data/Response.php

		-
			message: "#^Method BaseCodeOy\\\\Yr\\\\Weather\\\\Data\\\\TimeSeries\\:\\:fromResponse\\(\\) has parameter \\$data with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Weather/Data/TimeSeries.php

		-
			message: "#^Method BaseCodeOy\\\\Yr\\\\Weather\\\\Data\\\\TimeSeriesItem\\:\\:fromResponse\\(\\) has parameter \\$data with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Weather/Data/TimeSeriesItem.php

		-
			message: "#^Unable to resolve the template type TKey in call to function collect$#"
			count: 1
			path: src/Weather/Data/TimeSeriesItem.php

		-
			message: "#^Unable to resolve the template type TValue in call to function collect$#"
			count: 1
			path: src/Weather/Data/TimeSeriesItem.php

		-
			message: "#^Method BaseCodeOy\\\\Yr\\\\Weather\\\\Data\\\\TimeSeriesItemData\\:\\:fromResponse\\(\\) has parameter \\$data with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Weather/Data/TimeSeriesItemData.php

		-
			message: "#^Method BaseCodeOy\\\\Yr\\\\Weather\\\\Data\\\\TimeSeriesItemDataDetails\\:\\:fromResponse\\(\\) has parameter \\$data with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Weather/Data/TimeSeriesItemDataDetails.php

		-
			message: "#^Method BaseCodeOy\\\\Yr\\\\Weather\\\\Data\\\\TimeSeriesItemDataDetailsItem\\:\\:fromResponse\\(\\) has parameter \\$data with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Weather/Data/TimeSeriesItemDataDetailsItem.php

		-
			message: "#^Method BaseCodeOy\\\\Yr\\\\Weather\\\\Data\\\\TimeSeriesItemDataSummary\\:\\:fromResponse\\(\\) has parameter \\$data with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Weather/Data/TimeSeriesItemDataSummary.php

		-
			message: "#^Undefined variable\\: \\$this$#"
			count: 1
			path: tests/Pest.php

		-
			message: "#^Method Tests\\\\TestCase\\:\\:getRequiredServiceProviders\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: tests/TestCase.php

		-
			message: "#^Cannot access property \\$href on BaseCodeOy\\\\Yr\\\\Location\\\\Data\\\\Link\\|null\\.$#"
			count: 2
			path: tests/Unit/Location/Data/LinksTest.php

		-
			message: "#^Offset 0 does not exist on Illuminate\\\\Support\\\\Collection\\<int, BaseCodeOy\\\\Yr\\\\Location\\\\Data\\\\Link\\>\\|null\\.$#"
			count: 1
			path: tests/Unit/Location/Data/LinksTest.php

		-
			message: "#^Cannot access property \\$href on BaseCodeOy\\\\Yr\\\\Location\\\\Data\\\\Link\\|null\\.$#"
			count: 1
			path: tests/Unit/Location/Data/LocationTest.php

		-
			message: "#^Cannot access property \\$id on BaseCodeOy\\\\Yr\\\\Location\\\\Data\\\\Location\\|null\\.$#"
			count: 2
			path: tests/Unit/Location/Data/Suggest/ResponseTest.php

		-
			message: "#^Cannot access property \\$key on BaseCodeOy\\\\Yr\\\\Weather\\\\Data\\\\MetaUnit\\|null\\.$#"
			count: 1
			path: tests/Unit/Weather/Data/MetaTest.php

		-
			message: "#^Cannot access property \\$value on BaseCodeOy\\\\Yr\\\\Weather\\\\Data\\\\MetaUnit\\|null\\.$#"
			count: 1
			path: tests/Unit/Weather/Data/MetaTest.php

		-
			message: "#^Cannot access property \\$time on BaseCodeOy\\\\Yr\\\\Weather\\\\Data\\\\TimeSeriesItem\\|null\\.$#"
			count: 2
			path: tests/Unit/Weather/Data/PropertiesTest.php

		-
			message: "#^Cannot access property \\$key on BaseCodeOy\\\\Yr\\\\Weather\\\\Data\\\\TimeSeriesItemDataDetailsItem\\|null\\.$#"
			count: 1
			path: tests/Unit/Weather/Data/TimeSeriesItemDataDetailsTest.php

		-
			message: "#^Cannot access property \\$value on BaseCodeOy\\\\Yr\\\\Weather\\\\Data\\\\TimeSeriesItemDataDetailsItem\\|null\\.$#"
			count: 1
			path: tests/Unit/Weather/Data/TimeSeriesItemDataDetailsTest.php

		-
			message: "#^Cannot access property \\$items on BaseCodeOy\\\\Yr\\\\Weather\\\\Data\\\\TimeSeriesItemDataDetails\\|null\\.$#"
			count: 2
			path: tests/Unit/Weather/Data/TimeSeriesItemDataTest.php

		-
			message: "#^Cannot access property \\$key on BaseCodeOy\\\\Yr\\\\Weather\\\\Data\\\\TimeSeriesItemDataDetailsItem\\|null\\.$#"
			count: 2
			path: tests/Unit/Weather/Data/TimeSeriesItemDataTest.php

		-
			message: "#^Cannot access property \\$symbolCode on BaseCodeOy\\\\Yr\\\\Weather\\\\Data\\\\TimeSeriesItemDataSummary\\|null\\.$#"
			count: 1
			path: tests/Unit/Weather/Data/TimeSeriesItemDataTest.php

		-
			message: "#^Cannot access property \\$value on BaseCodeOy\\\\Yr\\\\Weather\\\\Data\\\\TimeSeriesItemDataDetailsItem\\|null\\.$#"
			count: 2
			path: tests/Unit/Weather/Data/TimeSeriesItemDataTest.php
